{% extends 'base.html.twig' %}

{% block title %}Top 10 All-Time High Cryptocurrencies{% endblock %}

{% block body %}
    <h1>Top 10 All-Time High Cryptocurrencies</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Current Price</th>
            <th>Total Volume</th>
            <th>All-Time High</th>
            <th>All-Time High Date</th>
        </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ crypto.name }}</td>
                <td>{{ crypto.symbol }}</td>
                <td>{{ crypto.currentPrice }}</td>
                <td>{{ crypto.totalVolume }}</td>
                <td>{{ crypto.ath }}</td>
                <td>{{ crypto.athDate|date('Y-m-d H:i:s') }}</td>

            </tr>
        </tbody>
    </table>
{% endblock %}
